body {
    background-image: url('diabetesPrediction/image/pxfuel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
}

div {
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    background-color: #55bff1;
    color: 'black';
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
    width: 50%;
    margin-left: 340px;
    border-radius: 5px;
}

h2 {
    color: 'black';
    font-size: 15px;
    font-weight: bold;
    margin-top: 400px;
}

input[type=submit] {
    background-color: #4dc3ff;
    border: 2px;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
}